<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Snake.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Snake.Properties.Settings>
            <setting name="SelectedDifficulty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameSpeed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>1</value>
            </setting>
        </Snake.Properties.Settings>
        <Snake.AppSettings>
            <setting name="SelectedDifficulty" serializeAs="String">
                <value>1</value>
            </setting>
        </Snake.AppSettings>
    </userSettings>
</configuration>